html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Ensures no horizontal overflow */
 
  background: url('/src/assets/Images/Wave.png') 50% 0 repeat-y;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

body{
   margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Ensures no horizontal overflow */
}

.main-background{
  height: calc(100vh - 99.75px);
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.nav_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #403d3d;
  min-height: 80px;
  padding-top: 16px;
  justify-content: space-between;
  border-bottom: 4px solid;
}

.name_column {
  margin-left: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.name_header {
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin: 0;
}

.green_bar {
  background-color: #67d45e;
  padding: 4px;
  width: 60%;
}

.tabs_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 55px;
  margin-right: 5vw;
  margin-top: 20px;
  width: 100%
}

.nav_tab {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.nav_tab_active {
  color: #67d45e;
  font-size: 16px;
  cursor: pointer;
}


.content {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.home_header1 {
  margin: 0px;
  font-size: 4rem;
  /* padding-bottom: 15px; */
  color: white;
}

.home_text1 {
  font-size: 2rem;;
  color: #dbd4d4;
}
.about_me_text1{
  font-size: 2rem;;
  color: #dbd4d4;
}

.home_text1_1 {
  font-size: 2rem;;
  color: #dbd4d4;
}

.home_text2 {
  font-size: 2rem;;
  color: #dbd4d4;
}

.home_row {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 99.75px);
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-left: 9rem;
  margin-right: 4rem;
}

.about_me_row{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 99.75px);
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-left: 9rem;
  margin-right: 4rem;
}

.goldhammer_image{
  width:85%;
  height:85%;

}




.home_column {
  flex: 1;
  padding-left: 60px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.home_column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_me_column{
  flex: 1;
  padding-left: 60px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.about_me_column2{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience_button {
  display: inline-block;
  height: 100px;
  width: 50%;
  font-size: 250%;
  font-weight: 600;
  color: black;
  background-color: #67d45e;
  border-radius: 36px;
  cursor: pointer;
  border: 4px double black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.experience_button:hover {
  background-color: darkgreen;
}


.about_me_image {
  background-image: url("/Images/HeadShotAnthony.jpg");
  width: 600px;
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 20px solid #555;
}

.contact_header {
  padding-top: 100px;
  font-size: 100px;
}

.contact_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 200px 0px 0px;
}

.image_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contact_header {
  margin: 0px;
  font-size: 80px;
  padding-bottom: 15px;
  color: white;
}

.aboutme_header1 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 60px;
  padding-bottom: 15px;
  color: white;
}

.experience_row {
  display: flex;
  flex-direction: row;
}

.experience_column1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 0px 0px 200px;
}
.experience_column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 100px 0px 5%;
}
.experience_column3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 100px 0px 0px;
}
.experience_row_header {
  padding: 0px 100px 50px 150px;
}

.expereince_header1 {
  font-size: 60px;
  color: white;
}

.experience_title1 {
  margin-top: 0px;
  padding: 0px 200px 0px 0px;
  font-size: 30px;
  color: #b1aeae;
}

.experience_title2 {
  margin-top: 0px;
  padding: 0px 200px 0px 0px;
  font-size: 30px;
  color: #b1aeae;
}

.experience_title3 {
  margin-top: 0px;
  padding: 0px 200px 0px 0px;

  font-size: 30px;

  color: #b1aeae;
}

.experience_spencers1 {
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  color: #dbd4d4;
}
.experience_spencers2 {
  font-size: 20px;
  color: #dbd4d4;
}
.experience_spencers3 {
  font-size: 20px;
  color: #dbd4d4;
}

.experience_sclpt1 {
  font-size: 20px;
  color: #dbd4d4;
}
.experience_sclpt2 {
  font-size: 20px;
  color: #dbd4d4;
}
.experience_sclpt3 {
  font-size: 20px;
  color: #dbd4d4;
}
.experience_sclpt4 {
  font-size: 20px;
  color: #dbd4d4;
}

.experience_uofsc1 {
  font-size: 20px;
  color: #dbd4d4;
}

/* Standard breakpoints <600px, 601, 768, 992, 1200> */
@media (max-width: 600px) and (orientation: portrait) {
  /* Navigation Bar */
  .nav_row {
    gap: 3vw;
  }
  .name_header {
    font-size: 3vw;
  }
  .nav_tab {
    font-size: 2vw;
  }
  .nav_tab_active {
    font-size: 2vw;
  }
  .name_column {
    width: 25%
  }
  .tabs_row {
    gap: 5vw;
    width: 75%
  }

  /* Home Content */
  .home_header1{
    font-size: 6vw;
    overflow-wrap: break-word; 
    margin-top: 10vh;
    margin-left: 5vw;
  }
  .home_row {
    margin-left: 12vw;
    flex-direction: column;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
    /* padding-top: 15vh; */
  }
  .home_text1 {
    font-size: 5vw;
    margin-left: 5vw;
  }
  .home_text2 {
    font-size: 5vw;
    margin-left: 5vw;
  }
  .home_column {
    width: 100%;
    padding-left: 0%;
  }
  .experience_button {
    height: 8vh;
    width: 50vw;
    font-size: 4vw;
    margin-left: 25vw;
  }
  .home_column2 {
    width: 45vh;
    height: 45vh;
  }
 

  /* About Me */
  .about_me_row{
    margin-left: 12vw;
    flex-direction: column;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
    /* padding-top: 15vh; */
  }
  .about_me_column{
    padding-left: 4vw;
  }
  .aboutme_header1{
    margin-top: 10vh;
    font-size: 5vw;
    
  }
  .about_me_text1{
    font-size: 3vw;
  }
  .about_me_image{
    width: 50vw;
    height: 60vw;
    border-width: 3vw;
  }
  /* Experience */
  .experience_border{
    margin-left: 12vw;
    /* flex-direction: column; */
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
  } 
  .experience_row{
    flex-direction: column;
  }
  .experience_row_header{
    margin: 0;
    padding: 0;
    
  }
  .expereince_header1{
    font-size: 6vw;
  }
  .experience_title1,.experience_title2,.experience_title3{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-top: 8vw;
  }
  .experience_column1,.experience_column2,.experience_column3{
    padding: 0;
    margin: 0;
  }
  .experience_spencers1{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }

  .experience_sclpt1,.experience_sclpt2,.experience_sclpt3,.experience_sclpt4{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }
  .experience_uofsc1{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }

  /* Contact */
  .contact_header{
    margin-right: 40vw;
    margin-bottom: 5vh;
    font-size: 8vw;
    padding: 0;
  }
  .contact_row{
    padding: 0;
  }
  .icon {
    font-size: 20vw;
    justify-content: center;
    align-items: center;
  }
  .icons {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  
}

@media (min-width: 601px) {
  /* Navigation Bar */
  .tabs_row {
    gap: 5vw;
    text-align: right;
  }

  /* Home Content */
  .home_row {
    overflow-y: auto; /* Enable vertical scrolling when the content overflows */
    overflow-x: hidden;
    flex-direction: column;
    margin-left: 1vw;
  }
  
  .experience_button{
    width: 50vw;
    
    
  }
  .home_header1{
    font-size: 6vw;
    overflow-wrap: break-word; 
    margin-top: 10vh;
  
  }
  /* About Me */
  .about_me_row{
    margin-left: 12vw;
    flex-direction: column;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
    /* padding-top: 15vh; */
  }
  .about_me_column{
    padding-left: 4vw;
  }
  .aboutme_header1{
    margin-top: 10vh;
    font-size: 5vw;
    
  }
  .about_me_text1{
    font-size: 3vw;
  }
  .about_me_image{
    width: 50vw;
    height: 60vw;
    border-width: 3vw;
  }
  /* Experience */
  .experience_border{
    margin-left: 12vw;
    /* flex-direction: column; */
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
  } 
  .experience_row{
    flex-direction: column;
  }
  .experience_row_header{
    margin: 0;
    padding: 0;
    
  }
  .expereince_header1{
    font-size: 6vw;
  }
  .experience_title1,.experience_title2,.experience_title3{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-top: 8vw;
  }
  .experience_column1,.experience_column2,.experience_column3{
    padding: 0;
    margin: 0;
  }
  .experience_spencers1{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }

  .experience_sclpt1,.experience_sclpt2,.experience_sclpt3,.experience_sclpt4{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }
  .experience_uofsc1{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }

  /* Contact */
  .contact_header{
    margin-right: 40vw;
    margin-bottom: 5vh;
    font-size: 8vw;
    padding: 0;
  }
  .contact_row{
    padding: 0;
  }
  .icon {
    font-size: 20vw;
    justify-content: center;
    align-items: center;
  }
  .icons {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1000px){
  /* Home Content */
  .home_row{
    flex-direction: row;
  }
  .home_header1{
    font-size: 3vw;
  }
  .home_text1 {
    font-size: 2.8vw;
    
  }
  .home_text2 {
    font-size: 2.8vw;
    
  }
  .experience_button{
    width: 30vw;
  }
  /* About Me */
  .about_me_row{
    margin-left: 12vw;
    flex-direction: row;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
    /* padding-top: 15vh; */
  }
  .about_me_column{
    padding-left: 4vw;
  }
  .aboutme_header1{
    margin-top: 10vh;
    font-size: 3vw;
    margin-bottom: 0;
    
  }
  .about_me_text1{
    font-size: 2vw;
  }
  .about_me_image{
    width: 25vw;
    height: 30vw;
    border-width: 3vw;
  }
  /* Experience */
  .experience_border{
    margin-left: 5vw;
  }
  .experience_row{
    margin-left: 12vw;
    flex-direction: row;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
  .experience_row_header{
    margin: 0;
    padding: 0;
    
  }
  .expereince_header1{
    font-size: 4vw;
  }
  .experience_title1,.experience_title2,.experience_title3{
    font-size: 2vw;
    margin: 0;
    padding: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .experience_column1,.experience_column2,.experience_column3{
    padding: 0;
    margin: 0;
  }
  .experience_spencers1{
    font-size: 2vw;
    margin: 0;
    padding: 0;
    margin-left: 1vw;
  }

  .experience_sclpt1,.experience_sclpt2,.experience_sclpt3,.experience_sclpt4{
    font-size: 2vw;
    margin: 0;
    padding: 0;
    margin-left: 1vw;
  }
  .experience_uofsc1{
    font-size: 2vw;
    margin: 0;
    padding: 0;
    margin-left: 1vw;
  }
  /* Contact */
  .contact_header{
    margin-right: 40vw;
    margin-bottom: 5vh;
    font-size: 8vw;
    padding: 0;
  }
  .contact_row{
    padding: 0;
  }
  .icon {
    font-size: 20vw;
    justify-content: center;
    align-items: center;
  }
  .icons {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1300px){
  /* Home Content */
  .home_row{
    flex-direction: row;
  }
  .home_header1{
    font-size: 2.8vw;
  }
  .home_text1 {
    font-size: 2.5vw;
    
  }
  .home_text2 {
    font-size: 2.5vw;
    
  }
  .experience_button{
    width: 30vw;
  }
  .goldhammer_image{
    width: 30vw;
    height: 35vw;
  }
  /* About Me */
  .about_me_column{
    padding-left: 4vw;
  }
  .aboutme_header1{
    margin-top: 10vh;
    font-size: 3vw;
    margin-bottom: 0;
    
  }
  .about_me_text1{
    font-size: 1.5vw;
  }
  .about_me_image{
    width: 25vw;
    height: 30vw;
    border-width: 3vw;
  }
}

@media (max-width: 932px) and (orientation: landscape) {
  .home_row {
    padding-top: 200vh;
    padding-bottom: 20vh;
  }
  .about_me_row {
    padding-top: 200vh;
    padding-bottom: 20vh;
  }
  .experience_border{
    padding-top: 190vh;
    padding-bottom: 20vh;
  }
  .contact_column{
    padding-top: 190vh;
    padding-bottom: 20vh;
  }
  
  
  .main-background {
    margin-left: 12vw;
    flex-direction: row;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
}
