html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Ensures no horizontal overflow */
 
  background: url('/src/assets/Images/Wave.png') 50% 0 repeat-y;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: visible; /* Ensures no horizontal overflow */
}

.main-background{
  height: calc(100vh - 99.75px);
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: visible;
  
}



.nav_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #403d3d;
  min-height: 80px;
  padding-top: 16px;
  justify-content: space-between;
  border-bottom: 4px solid;
  /* justify-content: center; */
  align-content: center;
}

.name_column {
  /* margin-left: 32px; */
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  margin-left: 16px;
}

.dropdown-menu-container{
  justify-content: center;
  align-content: center;
  margin-right: 8px;

}

.name_header {
  font-size: 24px;
  color: white;
  font-weight: 600;
  margin: 0;
}

.green_bar {
  background-color: #67d45e;
  padding: 4px;
  width: 60%;
}

.tabs_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 55px;
  margin-right: 5vw;
  margin-top: 20px;
  width: 100%
}

.nav_tab {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.nav_tab_active {
  color: #67d45e;
  font-size: 16px;
  cursor: pointer;
}


.content {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
}

.home_header1 {
  margin: 0px;
  font-size: 4rem;
  /* padding-bottom: 15px; */
  color: white;
}

.home_text1 {
  font-size: 2rem;;
  color: #dbd4d4;
}
.about_me_text1{
  font-size: 2rem;;
  color: #dbd4d4;
}

.home_text1_1 {
  font-size: 2rem;;
  color: #dbd4d4;
}

.home_text2 {
  font-size: 2rem;;
  color: #dbd4d4;
}

.home_row {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 99.75px);
  justify-content: center;
  gap: 20px;
  align-items: center;
  /* margin-left: 9rem;
  margin-right: 4rem; */
}

.about_me_row{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: calc(100vh - 99.75px);
  justify-content: center;
  gap: 20px;
  align-items: center;
  margin-left: 9rem;
  margin-right: 4rem;
}

.goldhammer_image{
  width:85%;
  height:85%;

}




.home_column {
  flex: 1;
  padding-left: 60px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.home_column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_me_column{
  flex: 1;
  padding-left: 60px;
  width: auto;
  display: flex;
  flex-direction: column;
}

.about_me_column2{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.experience_button {
  display: inline-block;
  height: 100px;
  width: 50%;
  font-size: 250%;
  font-weight: 600;
  color: black;
  background-color: #67d45e;
  border-radius: 36px;
  cursor: pointer;
  border: 4px double black;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.experience_button:hover {
  background-color: darkgreen;
}


.about_me_image {
  background-image: url("/Images/HeadShotAnthony.jpg");
  width: 600px;
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 20px solid #555;
}

.contact_header {
  padding-top: 100px;
  font-size: 100px;
  overflow: visible;
}

.contact_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 150px 200px 0px 0px;
  overflow-x: visible;
}

.image_row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.contact_header {
  margin: 0px;
  font-size: 80px;
  padding-bottom: 15px;
  color: white;
  overflow-x: visible;
}

.aboutme_header1 {
  margin: 0px;
  margin-bottom: 10px;
  font-size: 60px;
  padding-bottom: 15px;
  color: white;
}

.experience_row {
  display: flex;
  flex-direction: row;
}

.experience_column1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 0px 0px 200px;
}
.experience_column2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 100px 0px 5%;
}
.experience_column3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0px 100px 0px 0px;
}
.experience_row_header {
  padding: 0px 100px 50px 150px;
}

.expereince_header1 {
  font-size: 60px;
  color: white;
}

.experience_title1 {
  margin-top: 0px;
  padding: 0px 200px 0px 0px;
  font-size: 30px;
  color: #b1aeae;
}

.experience_title2 {
  margin-top: 0px;
  padding: 0px 200px 0px 0px;
  font-size: 30px;
  color: #b1aeae;
}

.experience_title3 {
  margin-top: 0px;
  padding: 0px 200px 0px 0px;

  font-size: 30px;

  color: #b1aeae;
}

.experience_spencers1 {
  padding: 0px 0px 0px 0px;
  font-size: 20px;
  color: #dbd4d4;
}
.experience_spencers2 {
  font-size: 20px;
  color: #dbd4d4;
}
.experience_spencers3 {
  font-size: 20px;
  color: #dbd4d4;
}

.experience_sclpt1 {
  font-size: 20px;
  color: #dbd4d4;
}
.experience_sclpt2 {
  font-size: 20px;
  color: #dbd4d4;
}
.experience_sclpt3 {
  font-size: 20px;
  color: #dbd4d4;
}
.experience_sclpt4 {
  font-size: 20px;
  color: #dbd4d4;
}

.experience_uofsc1 {
  font-size: 20px;
  color: #dbd4d4;
}

/* Standard breakpoints <600px, 601, 768, 992, 1200> */
@media (max-width: 600px) and (orientation: portrait) {
  /* Navigation Bar */
  .tabs_row {
    display: none !important; /* Hide the tabs row */
  }

  .dropdown-menu {
    display: block !important; /* Ensure the dropdown menu is displayed */
    background-color: #403d3d;
    color:#67d45e;
    border: 1px solid #67d45e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
    font-weight: bold; /* Makes text bold */
    border-radius: 5px;
    width: 30vw;
    height: 8vh;
    margin-right: 5vw;
    font-size: 1rem;
    padding: 10px;
  }
  .dropdown-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  .nav_row {
    gap: 3vw;
  }
  .name_header {
    font-size: 3vw;
  }
  .nav_tab {
    font-size: 2vw;
  }
  .nav_tab_active {
    font-size: 2vw;
  }
  .name_column {
    width: 25%
    
  }
  .tabs_row {
    gap: 5vw;
    width: 75%
  }

  /* Home Content */
  .home_header1{
    font-size: 6vw;
    overflow-wrap: break-word; 
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 4px;
  }
  .home_row {
    /* margin-left: 12vw; */
    flex-direction: column;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
    /* padding-top: 15vh; */
    justify-content: center;
    align-content: center;
  }
  .home_text1 {
    font-size: 5vw;
    margin: 0;
    align-content: center;
    text-align: center;
    padding: 4px;
  }
  .home_text2 {
    font-size: 5vw;
    margin: 0;
    align-content: center;
    text-align: center;
    padding: 4px;
  }
  .home_column {
    width: 100%;
    padding-left: 0%;
    align-content: center;
    justify-content: center;
    max-height: 60%;
  }
  .home_column2{
    align-content: center;
    justify-content: center;
    max-height: 40%;
  }
  .experience_button_container{
    position: relative;
    top: 32px;
  
  }
  .experience_button {
    height: 8vh;
    width: 50vw;
    font-size: 4vw;
    margin-left: 25vw;
  }
  .home_column2 {
    width: 45vh;
    height: 45vh;
  }
  .goldhammer_image{
    padding-right: 9px;
    width: 65vw;
    height:70vw;
  }
 

  /* About Me */
  .about_me_row{
    margin-left: 12vw;
    flex-direction: column;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
    /* padding-top: 15vh; */
  }
  .about_me_column{
    padding-left: 4vw;
  }
  .aboutme_header1{
    margin-top: 10vh;
    font-size: 5vw;
    
  }
  .about_me_text1{
    font-size: 3vw;
  }
  .about_me_image{
    width: 50vw;
    height: 60vw;
    border-width: 3vw;
  }
  /* Experience */
  .experience_border{
    margin-left: 12vw;
    /* flex-direction: column; */
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
  } 
  .experience_row{
    flex-direction: column;
  }
  .experience_row_header{
    margin: 0;
    padding: 0;
    
  }
  .expereince_header1{
    font-size: 6vw;
  }
  .experience_title1,.experience_title2,.experience_title3{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-top: 8vw;
  }
  .experience_column1,.experience_column2,.experience_column3{
    padding: 0;
    margin: 0;
  }
  .experience_spencers1{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }

  .experience_sclpt1,.experience_sclpt2,.experience_sclpt3,.experience_sclpt4{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }
  .experience_uofsc1{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }

  /* Contact */
  .contact_header{
    margin-right: 40vw;
    margin-bottom: 5vh;
    font-size: 8vw;
    padding: 0;
  }
  .contact_row{
    padding: 0;
  }
  .icon {
    font-size: 20vw;
    justify-content: center;
    align-items: center;
  }
  .icons {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
  
}

@media (min-width: 601px) and (orientation: portrait) {
  /* Navigation Bar */
  .tabs_row {
    gap: 5vw;
  }
  .dropdown-menu {
    display: none !important; /* Hide the dropdown */
  }

  .tabs_row {
    display: flex; /* Show the tabs */
  }
  * {
    box-sizing: border-box;
  }
  /* Home Content */
  .home_row {
    overflow-y: hidden; /* Enable vertical scrolling when the content overflows */
    overflow-x: hidden;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column !important;
    flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;
    flex-direction: row;
    margin-left: 1vw;
    margin-right: 1vw;
    gap: 0%;
    justify-content: center;
    align-content: center;
    

  }
  .home_text1{
    word-wrap: break-word; /* Allow long words to break */
    overflow-wrap: break-word;
  }
  .home_header1{
    font-size: 6vw;
  }
  .home_column{
    min-width: 80vw;
    flex: 1; /* Distributes available space equally between columns */
    max-width: 80%; /* Ensures each column doesn’t exceed half the row's width */
    box-sizing: border-box; /* Includes padding and borders within the column width */
    align-items: left;
    justify-content: center;
    word-wrap: break-word; /* Ensure long words are broken and wrapped */
    overflow-wrap: break-word;
    text-align: left;
    max-height: 100%;
    padding-left: 0%;
    flex-wrap: wrap;
    flex-shrink: 1; /* Allow the column to shrink */
  min-width: 200px; /* Ensure it doesn't shrink smaller than 200px */
  }
  .home_column2{
    
    flex: 1; /* Distributes available space equally between columns */
    max-width: 50%; /* Ensures each column doesn’t exceed half the row's width */
    box-sizing: border-box; /* Includes padding and borders within the column width */
    align-items: center;
    align-content: center;
    justify-content: center;
    
    min-width: 200px;
  }
  .goldhammer_image{
    width: 50vw;
    height: 55vw;
    
    
  }
  .experience_button_container{
    display: flex;
    position: relative;
    top: 18px;
    justify-content: center; /* Centers the button horizontally */
    align-items: center; /* Centers the button vertically */
    padding: 8px;
  }
  .experience_button{
    width: 50vw;
    
    
  }
  .home_header1{
    font-size: 5vw;
    overflow-wrap: break-word; 
    /* margin-top: 10vh; */
    text-align: center;
    padding: 4px;
    margin: 0;
    margin-bottom: 8px;
    word-wrap: break-word; /* Forces long words to break */
    overflow-wrap: break-word
  }
  .home_text1{
    font-size: 4vw;
    text-align: center;
    padding: 4px;
    margin: 0;
  }
  .home_text2{
    font-size: 4vw;
    text-align: center;
    padding: 4px;
    margin: 0;
  }
  .experience_button{
    justify-content: center;  
    align-items: center; 
  }
  /* About Me */
  .about_me_row{
    margin-left: 12vw;
    flex-direction: column;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
    /* padding-top: 15vh; */
  }
  .about_me_column{
    padding-left: 4vw;
  }
  .aboutme_header1{
    margin-top: 10vh;
    font-size: 5vw;
    
  }
  .about_me_text1{
    font-size: 3vw;
  }
  .about_me_image{
    width: 50vw;
    height: 60vw;
    border-width: 3vw;
  }
  /* Experience */
  .experience_border{
    margin-left: 12vw;
    /* flex-direction: column; */
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
  } 
  .experience_row{
    flex-direction: column;
  }
  .experience_row_header{
    margin: 0;
    padding: 0;
    
  }
  .expereince_header1{
    font-size: 6vw;
  }
  .experience_title1,.experience_title2,.experience_title3{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-top: 8vw;
  }
  .experience_column1,.experience_column2,.experience_column3{
    padding: 0;
    margin: 0;
  }
  .experience_spencers1{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }

  .experience_sclpt1,.experience_sclpt2,.experience_sclpt3,.experience_sclpt4{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }
  .experience_uofsc1{
    font-size: 3vw;
    margin: 0;
    padding: 0;
    margin-left: 4vw;
  }

  /* Contact */
  .contact_header{
    margin-right: 40vw;
    margin-bottom: 5vh;
    font-size: 8vw;
    padding: 0;
  }
  .contact_row{
    padding: 0;
  }
  .icon {
    font-size: 20vw;
    justify-content: center;
    align-items: center;
  }
  .icons {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 1000px){
  .dropdown-menu{
    display: none !important;
  }
  /* Home Content */
  .home_row{
    flex-direction: row !important;
  }
  .home_header1{
    font-size: 3vw;
    padding: 4px;
    margin: 0;
  }
  .home_text1 {
    font-size: 2.5vw;
    padding: 4px;
    margin: 0;
  }
  .home_text2 {
    font-size: 2.5vw;
    padding: 4px;
    margin: 0;
  }
  .experience_button_container{
    padding-top: 32px;
  }
  .experience_button{
    width: 30vw;
    font-size: 2.5vw;
  }
  /* About Me */
  .about_me_row{
    margin-left: 12vw;
    flex-direction: row;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
    /* padding-top: 15vh; */
  }
  .about_me_column{
    padding-left: 4vw;
  }
  .aboutme_header1{
    margin-top: 10vh;
    font-size: 3vw;
    margin-bottom: 0;
    
  }
  .about_me_text1{
    font-size: 2vw;
  }
  .about_me_image{
    width: 25vw;
    height: 30vw;
    border-width: 3vw;
  }
  /* Experience */
  .experience_border{
    margin-left: 5vw;
  }
  .experience_row{
    margin-left: 12vw;
    flex-direction: row;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
  .experience_row_header{
    margin: 0;
    padding: 0;
    
  }
  .expereince_header1{
    font-size: 4vw;
  }
  .experience_title1,.experience_title2,.experience_title3{
    font-size: 2vw;
    margin: 0;
    padding: 0;
    margin-top: 2vw;
    margin-bottom: 2vw;
  }
  .experience_column1,.experience_column2,.experience_column3{
    padding: 0;
    margin: 0;
  }
  .experience_spencers1{
    font-size: 2vw;
    margin: 0;
    padding: 0;
    margin-left: 1vw;
  }

  .experience_sclpt1,.experience_sclpt2,.experience_sclpt3,.experience_sclpt4{
    font-size: 2vw;
    margin: 0;
    padding: 0;
    margin-left: 1vw;
  }
  .experience_uofsc1{
    font-size: 2vw;
    margin: 0;
    padding: 0;
    margin-left: 1vw;
  }
  /* Contact */
  .contact_header{
    margin-right: 40vw;
    margin-bottom: 5vh;
    font-size: 8vw;
    padding: 0;
  }
  .contact_row{
    padding: 0;
  }
  .contact_column{
    margin-left: 12vw;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: visible;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
  .icon {
    font-size: 20vw;
    justify-content: center;
    align-items: center;
  }
  .icons {
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
  }
  .main-background{
    margin-left: 12vw;
    flex-direction: row;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: hidden;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
}

@media (min-width: 1300px){
  .dropdown-menu{
    display: none !important;
  }
  /* Nav Bar */
  .tabs_row{
    
  }

  /* Home Content */
  .home_row{
    flex-direction: row;
    align-content: center;
  }
  .home_header1 {
    font-size: 3vw;
  }
  .home_text1 {
    font-size: 2vw;
    
  }
  .home_text2 {
    font-size: 2vw;
    margin-top: 0;
    
  }
  .experience_button{
    width: 25vw;
    /* margin-left: 10vw; */
    margin-top: 5vh;
    font-size: 3vw;
  }
  .goldhammer_image{
    width: 25vw;
    height: 30vw;
  }
  .home_column{
    
  }
 
  .experience_button_container{
    position: relative;
    bottom: 20px;
  }
  
  /* About Me */
  .about_me_column{
    padding-left: 4vw;
    padding-bottom: 7vh;
  }
  .aboutme_header1{
    margin-top: 10vh;
    font-size: 2vw;
    margin-bottom: 0;
    
  }
  .about_me_text1{
    font-size: 1.3vw;
  }
  .about_me_image{
    width: 25vw;
    height: 30vw;
    border-width: 3vw;
  }
  /* Contact */
  .contact_header{
    font-size: 3vw;
    /* position: relative;
    right: 5vw;  */
    overflow: visible;
  }
  .contact_row{
    overflow: visible;
    /* position: relative;
    right: 5vw; */
    
  }
  .contact_column{
    overflow-x: visible;
    
  }
  .icon {
    font-size: 10vw;
  }
  .icons {
    gap: 5vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  /* Experience */
  .experience_border{
   
  }
  .experience_row{
   
  }
  .experience_row_header{
   
  }
  .expereince_header1{
    font-size: 2vw;
  }
  .experience_title1,.experience_title2,.experience_title3{
   font-size: 1.5vw;
  }

  .experience_spencers1{
    font-size: 1.5vw;
  }

  .experience_sclpt1,.experience_sclpt2,.experience_sclpt3,.experience_sclpt4{
    font-size: 1.5vw;
  }
  .experience_uofsc1{
    font-size: 1.5vw;
  }
}

@media (max-width: 999px) and (orientation: landscape) {
  .tabs_row{
    gap: 4vw;
  }
  .name_header {
    font-size: 2.5vw;
  }
  .nav_tab{
    font-size: 2.5vw;
  }
  .nav_tab_active{
    font-size: 2.5vw;
  }
  .home_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 100%
    
  }
  .dropdown-menu{
    display: none !important;
  }
  .home_column{
    flex: 1; /* Distributes available space equally between columns */
    max-width: 50%; /* Ensures each column doesn’t exceed half the row's width */
    box-sizing: border-box; /* Includes padding and borders within the column width */
    align-items: left;
    justify-content: center;
    padding-left: 5%;
    text-align: left;
  }
  .home_column2{
    flex: 1; /* Distributes available space equally between columns */
  max-width: 50%; /* Ensures each column doesn’t exceed half the row's width */
  box-sizing: border-box; /* Includes padding and borders within the column width */
  }
  .home_header1{
    font-size: 4vw;
    padding: 4px;
    margin: 0;
  }
  .home_text1{
    font-size: 3vw;
    padding: 4px;
    margin: 0;
    
  }
  .home_text2{
    font-size: 3vw;
    text-align: left;
    padding: 4px;
    margin: 0;
  }
  .experience_button{
    width: 30vw;
    height:10vw;
    font-size: 3vw;
  }

  .about_me_row {
    padding-top: 200vh;
    padding-bottom: 20vh;
  }
  .experience_border{
    padding-top: 190vh;
    padding-bottom: 20vh;
  }
  .contact_column{
    padding-top: 120vh;
    padding-bottom: 20vh;
  }
  .icons{
    flex-direction: row !important;
  }
  
  
  .main-background {
    margin-left: 12vw;
    flex-direction: row;
    overflow: hidden;
    margin-left: 0vw;
    margin-right: 0vw;
    overflow-y: auto;
    white-space: normal; /* Allow text to wrap */
    word-wrap: break-word; /* Ensure long words are broken and wrap to the next line */
    overflow-wrap: break-word;
    box-sizing: border-box;
  }
}

@media (min-width: 1800px) {
  .home_header1{
    font-size: 3vw;
  }
  .home_text1{
    font-size: 2.5vw;
  }
  .home_text2{
    font-size: 2.5vw;
  }
  .experience_button{
    font-size: 2.5vw;
  }
}
